<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Campus Kitchen Shift Leader</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/landing-page.css" >

    <!-- DataTables CSS -->
    <link href="../datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../datatables-responsive/dataTables.responsive.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" >

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
  </style>

</head>
<body>
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="/home">Home</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/about">About</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
  </nav>



  <div class="col-lg-12">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              C-3: HACCP Cooking Shifts - Raw Product
                          </div>
                          <!-- /.panel-heading -->
                          <div class="panel-body">
                              <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                  <thead>
                                      <tr>
                                          <th>Date</th>
                                          <th>Shift Captain</th>
                                          <th>Product</th>
                                          <th>Destination</th>
                                          <th>Cooking Time</th>
                                          <th>Cooking Temp</th>
                                          <th>Hot Holding Time I</th>
                                          <th>Hot Holding Temp I</th>
                                          <th>Initials</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    <% for(var i=0; i<records.length; i++) {%>
                                      <tr>

                                        <td>
                                          <div class="form-group">
                                              <input type="date" class="form-control" name="<%= 'date'+i %>" readonly value="<%= records[i].date %>">
                                          </div>
                                        </td>

                                        <td>
                                          <div class="form-group">
                                              <input type="shifcap" class="form-control" name="<%= 'shifcap'+i %>" readonly value="<%= records[i].shifcap %>">
                                          </div>
                                        </td>

                                        <td>
                                          <div class="form-group">
                                              <input type="product" class="form-control" name="<%= 'product'+i %>" readonly value="<%= records[i].product %>">
                                          </div>
                                        </td>

                                        <td>
                                          <div class="form-group">
                                              <input type="dest" class="form-control" name="<%= 'dest'+i %>" readonly value="<%= records[i].dest %>">
                                          </div>
                                        </td>

                                        <td>
                                          <div class="form-group">
                                            <input type="cooktime" class="form-control" name="<%= 'cooktime'+i %>" readonly value="<%= records[i].cooktime %>">
                                          </div>
                                        </td>
                                        <td>
                                          <div class="form-group">
                                            <input type="cooktemp" class="form-control" name="<%= 'cooktemp'+i %>" readonly value="<%= records[i].cooktemp %>">
                                          </div>
                                        </td>
                                        <td>
                                          <div class="form-group">
                                              <input type="hholtime" class="form-control" name="<%= 'hholtime'+i %>" readonly value="<%= records[i].hholtime %>">
                                          </div>
                                        </td>
                                        <td>
                                          <div class="form-group">
                                              <input type="hholtemp" class="form-control" name="<%= 'hholtemp'+i %>" readonly value="<%= records[i].hholtemp %>">
                                          </div>
                                        </td>

                                        <td>
                                          <div class="form-group">
                                            <input type="initials" class="form-control" name="<%= 'initials'+i %>" readonly value="<%= records[i].initials %>">
                                          </div>
                                        </td>

                                        <!--
                                        <td><span>
                                          <input type="hidden" name="unique_id" value="<%= records[i]._id %>">
                                          <button type="button" class="btn btn-primary"id=<%='edit'+i%> onClick="edit(this)">Edit</button></form></span></td>
                                        <td><span><form id="<%='newReq'+i%>" action="/remove" method="POST">
                                          <input type="hidden" name="num" value="<%= i %>">
                                          <button type="button" class="btn btn-danger" id=<%='delete'+i%> onClick="deleteEntry(this)">Delete</button></form></span></td>
                                        -->
                                      </tr>
                                    <% } %>
                                  </tbody>
                              </table>
                              <!-- /.table-responsive -->
                          </div>
                          <!-- /.panel-body -->
                      </div>
                      <!-- /.panel -->
          </div>

          <!-- jQuery -->
          <script src="../jquery/jquery.min.js"></script>

              <!-- DataTables JavaScript -->
          <script src="../datatables/js/jquery.dataTables.min.js"></script>
          <script src="../datatables-plugins/dataTables.bootstrap.min.js"></script>
          <script src="../datatables-responsive/dataTables.responsive.js"></script>
          <!-- Page-Level Demo Scripts - Tables - Use for reference -->
          <script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js">

          </script>
          <script>
           $(document).ready(function() {
               $('#dataTables-example').DataTable({
                   responsive: true
               });
           });

               </script>
</body>
</html>
